* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #fff;
    --secondary-color: #000;
    --thirdly-color: #E0E2DB;
    --fourthly-color: #B2B2B2;
    --fifthly-color: #2E3532;
    --sixthly-color: #001524;
    --seventhly-color: #042A2B;
    --eightly-color: #312F2F;
    --ninthly-color: #FF5964;
    --tenthly-color: #FFE74C;
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;
}

::selection{
    color: var(--thirdly-color);
    background-color: var(--sixthly-color);
}

::-webkit-scrollbar{
    width: 1vh;
}
::-webkit-scrollbar-track{
    background-color: var(--fourthly-color);
    border-radius: 100px;
    margin: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--seventhly-color);
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--sixthly-color);
}

body {
    font-family: 'poppins', sans-serif;
    transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 10ms;
    scroll-behavior: smooth;
    background-color: var(--primary-color);
}

h1 {
    font-size: 2rem;
}

h6 {
    font-size: 15px;
    font-weight: 300;
}

p {
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: var(--thirdly-color);
    font-size: 15px;
}

a:hover {
    color: var(--sixthly-color);
}
.top-baner,.top-baner-text,.top-baner-text-img{
    display: flex;
    align-items: center;
    justify-content: center;

}
/*top baner*/

.top-baner {
    width: 100%;
    height: 5vh;
    background-color: var(--ninthly-color);
    color: var(--primary-color);
    overflow: hidden;
}

.top-baner-text {
    width: 100vw;
    gap: 5px;
}

.top-baner-text a:hover {
    margin: 0 5px 0 0;
    transition: ease-in-out;
    transition: 1s;
}

/*header*/
.header,.header .logo,.header .nav,.header .nav ul,.header .btns {
    display: flex;
    align-items: center;
    justify-content: center;
}  

.header {
    height: 8vh;
    align-items: flex-end;
    gap: 2vb;
}

.header .logo {
    width: 15vw;
    height: 9vh;
    object-fit: cover;
    align-items: flex-end;
    justify-content: flex-end;
}

.header .logo img {
    width: auto;
    height: 6vh;
}

.header .nav {
    height: 7vh;
    width: 60vw;
}

.header .nav ul {
    gap: 7vb;
}

.header .nav ul li {
    list-style: none;
    gap: 10px;
}

.header .nav ul li a {
    color: var(--seventhly-color);
    font-size: 15px;
    font-weight: 500;
    font-family: var(--roboto);
}

.header .nav ul li a:hover {
    color: var(--sixthly-color);
}

.header .btns {
    padding: 0;
    width: 15vw;
    height: 7vh;
    justify-content: space-evenly;
}

.header .btns .signup-btn {
    width: 6vw;
    padding: 10px 14px;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ffffff00;
    color: var(--seventhly-color);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-delay: 1ms;
    border: 1px solid var(--sixthly-color);
}

.header .btns .signup-btn:hover {
    background-color: var(--tenthly-color);
    color: var(--sixthly-color);
    padding: 10px 14px;
    border: none;
    box-shadow: 0 0 5px var(--fourthly-color);
    
}

.header .btns .log-in-btn {
    width: 7vw;
    padding: 11px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--seventhly-color);
    color: var(--primary-color);
    transition: 1s;
    transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 10ms;
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0 5px var(--fourthly-color);
}

.header .btns .log-in-btn:hover {

    background-color: var(--sixthly-color);
    box-shadow: 0 0 5px var(--sixthly-color);
    transform: scale(1.05);
}

.main,.main .hero-section,.main .hero-section .hero-section-text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main .hero-section{
    width: 85vw;
    height: 70vh;
    flex-direction: row;
}

.main .hero-section .hero-section-text-container {
    width: 50vw;
    height: 60vh;
    text-align: left;
    align-items: flex-start;
    gap: 30px;
}

.hero-section-text-container>h1 {
    margin: 0 0 0 10px;
    font-size: 3em;
    font-family: var(--poppins);
    line-height: 9vh;
}

.hero-section-text-container p {
    width: 40vw;
    margin: 0 0 0 10px;
    font-size: 15px;
    font-family: var(--roboto);
    line-height: 3vh;
}

.main .hero-section .hero-section-img-container {
    width: 50vw;
    height: 60vh;
    background-image: url(6.jpg);
    background-position: center center;
    background-size: 45vw;
    background-repeat: no-repeat;
}

.hero-section-text-container-learn-more-btn {
    width: 9vw;
    margin: 0 0 0 10px;
    padding: 11px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--seventhly-color);
    color: var(--primary-color);
    transition: 1s;
    transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 10ms;
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0 5px var(--fourthly-color);
}

.hero-section-text-container-learn-more-btn:hover {
    background-color: var(--sixthly-color);
    box-shadow: 0 0 5px var(--sixthly-color);
    transform: scale(1.05);
}
.companies-logo-section{
    width: 85vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.companies-logo-section-text{
    text-align: center;


}
.companies-logo-section-logos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.section-logos{
    width: 12vw;
    height: 6vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.section-logos:nth-child(1){
    background-image: url(amazon.png);  
}
.section-logos:nth-child(2){
    background-image: url(google.png);
}
.section-logos:nth-child(3){
    background-image: url(godaddy.png);
}
.section-logos:nth-child(4){
    background-image: url(meta.png);
}
.section-logos:nth-child(5){
    background-image: url(samsung.png);
}
.section-logos:nth-child(6){
    background-image: url(unity.png);
}
.features-section,.features-section-blob,.features-section-text-box,.features-section-text-box-btn{
    display: flex;
    align-items: center;
    justify-content: center;

}

.features-section{
    width: 85vw;
    height: 90vh;
    
}
.features-section-blob{
    position: absolute;
    background-image: url(blob.png);
    width: 50vw;
    height: 60vh;
    background-blend-mode: color;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70vh;
    transform: rotate(45deg);
    filter: grayscale(1);
    opacity: .2;
}
.features-section-text-box{
    position: absolute;
    flex-direction: column;
}



